<!DOCTYPE html>
<html>
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/head.html" . }}
  </head>
  
  <body>

  <header id="header" style="padding: 0; height: 100%">
    {{ block "header" . }}
      {{ partial "header.html" . }}
    {{ end }}
    
    {{ block "nav" . }}
        {{ partial "menu.html" . }}
    {{ end }}
  </header>
 
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>