<!DOCTYPE html>
<html>
  <head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/head.html" . }}
  </head>
  
  <body>

  {{ block "hero" . }}
  <section class = "hero" style="height:33vh;">
    <div class="banner" style="background-image:url({{.Site.BaseURL}}{{ .Site.Params.banner }}); padding-top: 1em;" >
      <a href="{{.Site.BaseURL | absLangURL}}">
        <div class = "logo">
          <img class="img-{{.Site.Params.avatarclass | default "circle"}}" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="" style = "width: 140px; height: 140px;">
        </div>
      </a>
    </div>

    {{ partial "menu.html" . }}
  </section>
  {{ end }}
  
    {{ block "languages" . }}
    {{ end }}
    
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>