<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<meta name="author"      content="{{ .Site.Author }}">
    
    {{ partial "head/head.html" . }}
  </head>
  
  <body class="home">

    {{ block "header" . }}
      {{ partial "head/header.html" . }}
    {{ end }}
 
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>