<div class="row section recentworks topspace">

    <h2 class="section-title"><span>Recent Works</span></h2>

    <div class="thumbnails recentworks row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="images/s1.jpg" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Sample title - big data solutions</span>
            </a>
            <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a> | <a href="">Logotype</a></span>
            <h4></h4>
            <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="images/s1.jpg" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Pure ipsum - development services for people</span>
            </a>
            <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
            <h4></h4>
            <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="images/s1.jpg" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Lorem studios - interior and patio design</span>
            </a>
            <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
            <h4></h4>
            <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="images/s1.jpg" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Pure ipsum - development services for people</span>
            </a>
            <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
            <h4></h4>
            <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="images/s1.jpg" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Lorem studios - interior and patio design</span>
            </a>
            <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
            <h4></h4>
            <p></p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="images/s1.jpg" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Lorem studios - interior and patio design</span>
            </a>
            <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
            <h4></h4>
            <p></p>
        </div>
    </div>

</div> <!-- /section -->
