<div class="row section featured topspace">
    <h2 class="section-title"><span>Services</span></h2>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Custom website design</h3>
            <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
            <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Wordpress integration</h3>
            <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
            <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">Application development</h3>
            <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
            <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">SEO &amp; SEM services</h3>
            <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
            <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
        </div>
    </div>
</div> <!-- / section -->
