{{ define "main"}}
  <main id="main">

    <div class="container">
  
      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}
      
        {{ range .Site.Sections }}
            {{ range .Sections.ByWeight }}
              <div class="row section featured topspace">
              {{ $stype := .Type}}
                {{ if and (eq $stype "service") (.Site.Params.showServices) }}
                  <h2 class="section-title">
                    <span>{{.Title}}</span>
                  </h2>
                  {{ partial "home/services.html" . }}
                
                {{ else if and (eq $stype "recentwork") (.Site.Params.showRecentWorks) }}
                  <h2 class="section-title">
                    <span>{{.Title}}</span>
                  </h2>
                  {{ partial "home/recentworks.html" . }}
                
                {{ else if and (eq $stype "download") (.Site.Params.showDownloads) }}
                  <h2 class="section-title">
                    <span>{{.Title}}</span>
                  </h2>
                  {{ partial "home/download.html" . }}
                
                {{ else if and (eq $stype "client") (.Site.Params.showClients) }}
                  <h2 class="section-title">
                    <span>{{.Title}}</span>
                  </h2>
                  {{ partial "home/clients.html" . }}
                
                {{ else if eq $stype "single"  }}
                  <h2 class="section-title">
                    <span>{{.Title}}</span>
                  </h2>
                  {{ partial "home/single.html" . }} 
                
                {{ end }}
              </div>	<!-- /section -->
            {{ end }}
        {{ end }}
    </div>	<!-- /container -->
  </main>

{{ end }}